.badge{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4648C9; /* Color de fondo */
  color: white; /* Color del texto */
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%; /* Forma redondeada */
  transform: translate(50%, -50%);
}

.carrito{
  position: relative;
}